# dic

In [1]:
d = {}
type(d)

dict

In [2]:
d1 = {'key': 'abhishek'}
d1

{'key': 'abhishek'}

In [3]:
d2 = {'name': 'abhishek', 'email':'abhiiii0017@gmail.com', 'number': 8960510882}
d2

{'name': 'abhishek', 'email': 'abhiiii0017@gmail.com', 'number': 8960510882}

In [8]:
d3 ={234:'abhishek', '@user':'kumar', True:24345}
d3

{234: 'abhishek', '@user': 'kumar', True: 24345}

In [11]:
d3[234]

'abhishek'

In [12]:
d3[1]

24345

In [15]:
d4 = {'name': 'abhishek', 'mail id' : 'abhi@gmail.com', 'name':  'kumar'}
d4

{'name': 'kumar', 'mail id': 'abhi@gmail.com'}

In [17]:
d4['name']

'kumar'

In [18]:
d5 = {'company': 'pwskill', 'course': ['web dev', 'data science', 'java']}
d5

{'company': 'pwskill', 'course': ['web dev', 'data science', 'java']}

In [19]:
d5['course'][2]

'java'

In [22]:
d6 = {'number':[12,13,89,45,12,87], 'assignment':(1,2,3,4,5),'launch':{28,12,14}, 'class timing':{'web': 8,'data science': 9,'java':10}}
d6

{'number': [12, 13, 89, 45, 12, 87],
 'assignment': (1, 2, 3, 4, 5),
 'launch': {12, 14, 28},
 'class timing': {'web': 8, 'data science': 9, 'java': 10}}

In [23]:
d6['class timing']['java']

10

In [24]:
d6['mentor'] = ['abhishek','kumar', 'sahu']
d6

{'number': [12, 13, 89, 45, 12, 87],
 'assignment': (1, 2, 3, 4, 5),
 'launch': {12, 14, 28},
 'class timing': {'web': 8, 'data science': 9, 'java': 10},
 'mentor': ['abhishek', 'kumar', 'sahu']}

- Delete

In [26]:
del d6['number']
d6

{'assignment': (1, 2, 3, 4, 5),
 'launch': {12, 14, 28},
 'class timing': {'web': 8, 'data science': 9, 'java': 10},
 'mentor': ['abhishek', 'kumar', 'sahu']}

In [28]:
list(d6.keys())

['assignment', 'launch', 'class timing', 'mentor']

In [29]:
list(d6.values())

[(1, 2, 3, 4, 5),
 {12, 14, 28},
 {'web': 8, 'data science': 9, 'java': 10},
 ['abhishek', 'kumar', 'sahu']]

In [31]:
list(d6.items())

[('assignment', (1, 2, 3, 4, 5)),
 ('launch', {12, 14, 28}),
 ('class timing', {'web': 8, 'data science': 9, 'java': 10}),
 ('mentor', ['abhishek', 'kumar', 'sahu'])]

In [35]:
d6.pop('assignment')

KeyError: 'assignment'

In [36]:
d6

{'launch': {12, 14, 28},
 'class timing': {'web': 8, 'data science': 9, 'java': 10},
 'mentor': ['abhishek', 'kumar', 'sahu']}

In [37]:
d6.pop()

TypeError: pop expected at least 1 argument, got 0

## conditional

In [39]:
marks = 85
if marks >= 80 :
    print('you will be a part of A0 batch')
elif marks >= 60 and marks < 80 :
    print ('you will a part of A1 batch')
elif marks >= 40 and marks < 60 :
    print('you will a part of A2 batch')
else :
    print('you will a part of A3 batch')

you will be a part of A0 batch

In [40]:
85 >= 80

True

In [42]:
marks = int(input('enter your marks'))
if marks >= 80 :
    print('you will be a part of A0 batch')
elif marks >= 60 and marks < 80 :
    print ('you will a part of A1 batch')
elif marks >= 40 and marks < 60 :
    print('you will a part of A2 batch')
else :
    print('you will a part of A3 batch')

you will a part of A2 batch

In [43]:
type(marks)

int

In [46]:
price = int(input('enter price'))
if price > 1000:
    print ('i will not buy')
else :
    print('i will buy')

i will buy

In [55]:
price = int(input('enter price'))
if price > 1000:
    print ('i will not buy')
    if price > 5000:
        print('this is too much')
    elif price < 2000:
        print ('ok')
else:
    print ('its ok')

its ok

# loop

In [57]:
l= [1,2,3,4,5,6,7,8]

In [63]:
for i in l :
    print (i)

1
2
3
4
5
6
7
8

In [65]:
for i in l :
    print(i+1)

2
3
4
5
6
7
8
9

In [67]:
l1 =[]
for i in l :
    print(i+1)
    l1.append(i+1)
l1

2
3
4
5
6
7
8
9

[2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [69]:
l = [ 'abhishek', 'kumar', 'course']
for i in l:
    print (i)

abhishek
kumar
course

In [70]:
l1=[]
for i in l:
    print (i)
    l1.append(i.upper())

abhishek
kumar
course

In [71]:
l1

['ABHISHEK', 'KUMAR', 'COURSE']

In [72]:
l = [1,2,3,4,5,'abhishek',325,5644, 'abc']

In [73]:
l1_num=[]
l2_str=[]
for i in l :
    if type (i)== int or type (i)== float :
        l1_num.append(i)
    else :
        l2_str.append(i)

In [74]:
l1_num

[1, 2, 3, 4, 5, 325, 5644]

In [75]:
l2_str

['abhishek', 'abc']