# List

In [38]:
l= [1,35,'abhishek',True, 3.14]
print(l)
type(l)

[1, 35, 'abhishek', True, 3.14]

list

Indexing

In [39]:
l[0]

1

In [40]:
l[90] # index out of range

IndexError: list index out of range

In [ ]:
l[0:3]

[1, 35, 'abhishek']

In [ ]:
l[-1]

3.14

In [ ]:
l[::-1] # reverse the list

[3.14, True, 'abhishek', 35, 1]

In [ ]:
l[::2] # even place value in list

[1, 'abhishek', 3.14]

In [ ]:
s= 'Kumar'

In [ ]:
l+s # list and string can not be added

TypeError: can only concatenate list (not "str") to list

In [ ]:
list(s) # convert string to list

['K', 'u', 'm', 'a', 'r']

In [ ]:
list(s)+l # list and string can be added

['K', 'u', 'm', 'a', 'r', 1, 35, 'abhishek', True, 3.14]

In [ ]:
l

[1, 35, 'abhishek', True, 3.14]

In [ ]:
l[2][:3] # slicing in list

'abh'

In [ ]:
str(l[3])[:2] # slicing in list

'Tr'

In [ ]:
l+35 # list and int can not be added

TypeError: can only concatenate list (not "int") to list

In [ ]:
l1 = [1,2,3,4,5]

In [ ]:
l+l1 # list can be added

[1, 35, 'abhishek', True, 3.14, 1, 2, 3, 4, 5]

In [ ]:
l1*2 # list can be multiplied ( number of times multuplication)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
len(l) # length of list

5

In [ ]:
l.append('sahu') # append in list
l

[1, 35, 'abhishek', True, 3.14, 'sahu']

In [ ]:
l.append('rohit') # append in list
l

[1, 35, 'abhishek', True, 3.14, 'sahu', 'rohit']

In [ ]:
l.append(l1) # append in list

In [ ]:
l

[1, 35, 'abhishek', True, 3.14, 'sahu', 'rohit', [1, 2, 3, 4, 5]]

In [ ]:
l[7][3] # access list in list

4

In [41]:
l.extend(4)

TypeError: 'int' object is not iterable

In [42]:
l.extend('aditya') # extend means distribute the string in list
l

[1, 35, 'abhishek', True, 3.14, 'a', 'd', 'i', 't', 'y', 'a']

In [ ]:
l.extend([3,4,5]) # extend means distribute the string in list
l

[1,
 35,
 'abhishek',
 True,
 3.14,
 'sahu',
 'rohit',
 [1, 2, 3, 4, 5],
 'a',
 'd',
 'i',
 't',
 'y',
 'a',
 3,
 4,
 5,
 3,
 4,
 5]

In [ ]:
l1

[1, 2, 3, 4, 5]

In [ ]:
l1.insert(1,'ashish')# insert(index, value) in list ( kaha pe insert karna hai, kya insert karna hai)
# insert in list because it add the value starting of the list. append and extend add the value at the end of list
l1

[1, 'ashish', 2, 3, 4, 5]

In [ ]:
l1.insert(2, ['job','money', 'house'])
l1

[1, 'ashish', ['job', 'money', 'house'], 2, 3, 4, 5]

In [ ]:
l1.insert(-1,45)
l1

[1, 'ashish', ['job', 'money', 'house'], 2, 3, 4, 45, 5]

In [ ]:
l1.pop() # pop() remove the last value of list
l1

[1, 'ashish', ['job', 'money', 'house'], 2, 3, 4]

In [ ]:
l1.pop(2) # pop(2) yeh index ke hisab se remove karta hai
l1

[1, 'ashish', 2, 3, 4]

In [ ]:
l1.remove('ashish') # yeh jo tum bataoge usko remove karega
l1

[1, 2, 3, 4]

In [ ]:
l1.remove(45) # quki yeh number list me hai he nahi
l1

ValueError: list.remove(x): x not in list

In [ ]:
l

[1, 35, 'abhishek', True, 3.14, 'sahu', 'rohit', [1, 2, 3, 4], 'a', 'd']

In [ ]:
l[7].remove(4)
l

[1, 35, 'abhishek', True, 3.14, 'sahu', 'rohit', [1, 2, 3], 'a', 'd']

In [ ]:
l1

[1, 2, 3]

In [ ]:
l1.append(3)

In [ ]:
l1

[1, 2, 3, 3]

In [ ]:
l1.remove(3) # remove() remove the first occurence of the value

In [ ]:
l1

[1, 2, 3]

In [ ]:
l1.reverse() # permanent reverse to the list
l1

[3, 2, 1]

In [ ]:
l1[::-1] # not permanent reverse to the list
l1

[3, 2, 1]

In [ ]:
l1.sort() # sort the list
l1

[1, 2, 3]

In [ ]:
l2 = [56,12,45,95,31,61]
l2

[56, 12, 45, 95, 31, 61]

In [ ]:
l2.sort() # sort the list in ascending order
l2

[12, 31, 45, 56, 61, 95]

In [ ]:
l3 = ['abhishek', 'kumar', 'sahu', 'rohit', 'ashish']
l3

['abhishek', 'kumar', 'sahu', 'rohit', 'ashish']

In [ ]:
l3.sort() # sort the list in ascending order
l3

['abhishek', 'ashish', 'kumar', 'rohit', 'sahu']

In [ ]:
l3.sort(reverse=True) # sort the list in descending order
l3

['sahu', 'rohit', 'kumar', 'ashish', 'abhishek']

In [ ]:
l3.index('kumar') # index of the value

2

In [43]:
l4=[2,6,54,2,6,2,69,56,55,22,2,3,64,2,78,2]
l4

[2, 6, 54, 2, 6, 2, 69, 56, 55, 22, 2, 3, 64, 2, 78, 2]

In [ ]:
l4.count(2) # count the number of occurence of the value

6

In [ ]:
a = 'abhishek'
l5 = [3,4,5]

In [ ]:
a[0] = 'a' # not replace the value in string

TypeError: 'str' object does not support item assignment

In [ ]:
l5[0] = 30 # replace the value in list
l5

[30, 4, 5]

In [ ]:
a.replace('a','d') # replace the value in string

'dbhishek'

In [ ]:
a

'abhishek'

# Tuple   ( immutable things)

In [ ]:
t = (2,3,6,8,'abhishek', False, 45+457j, [3,4,5])
t

(2, 3, 6, 8, 'abhishek', False, (45+457j), [3, 4, 5])

In [ ]:
type(t)

tuple

In [ ]:
len(t)

8

In [ ]:
t[0] # access the value in tuple

2

In [ ]:
t[::-1] # reverse the tuple

([3, 4, 5], (45+457j), False, 'abhishek', 8, 6, 3, 2)

In [45]:
l5= [6,5, 'abhishek', 3.14, True] # list
l5

[6, 5, 'abhishek', 3.14, True]

In [46]:
l5[0]= 23456 # list is mutable
l5

[23456, 5, 'abhishek', 3.14, True]

In [47]:
t

(2, 3, 6, 8, 'abhishek', False, (45+457j), [3, 4, 5])

In [48]:
t[0]='abhi' # tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [49]:
t.count(2) # count the number of occurence of the value

1

In [51]:
t

(2, 3, 6, 8, 'abhishek', False, (45+457j), [3, 4, 5])

In [52]:
t.index('abhishek') # index of the value

4

# Set

In [53]:
s= {}
type(s)

dict

In [54]:
s1 = {3,9,45,62}
s1

{3, 9, 45, 62}

In [55]:
type(s1)

set

In [56]:
s2= {124,65.52,'kumar', True, 3+4j, [3,9,45,62]} # set can not contain list
s2

TypeError: unhashable type: 'list'

In [57]:
s3= {124,65.52,'kumar', True, 3+4j, (3,9,45,620)} # set can contain tuple
s3

{(3+4j), (3, 9, 45, 620), 124, 65.52, True, 'kumar'}

In [58]:
s4 = {2,3,4,5, 2,6,5,2,4,8,9,2,3,4,2,6,2,7,2,7,9,9,2} # set can not contain duplicate value 
s4

{2, 3, 4, 5, 6, 7, 8, 9}

In [62]:
l6= [2,3,4,5, 2,6,5,2,4,8,9,2,3,4,2,6,2,7,2,7,9,9,2]
l6
type(l6)

list

In [63]:
l6= set(l6) # convert list to set

In [64]:
l6

{2, 3, 4, 5, 6, 7, 8, 9}

In [68]:
l7 = list(set(s4)) # convert set to list
l7

[2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
type(l7)

list

In [69]:
s5 = {236, 564,1235,21 , 'abhishek', 'kumar', 'sahu', 'rohit', 'ashish', 123, 10}
s5

{10, 123, 1235, 21, 236, 564, 'abhishek', 'ashish', 'kumar', 'rohit', 'sahu'}

In [70]:
s5[0]# set is unordered

TypeError: 'set' object is not subscriptable

In [71]:
s5[::-1] # set is unordered

TypeError: 'set' object is not subscriptable

In [72]:
s5.add(4)
s5

{10,
 123,
 1235,
 21,
 236,
 4,
 564,
 'abhishek',
 'ashish',
 'kumar',
 'rohit',
 'sahu'}

In [73]:
s5.remove(4)
s5

{10, 123, 1235, 21, 236, 564, 'abhishek', 'ashish', 'kumar', 'rohit', 'sahu'}